<a href="https://colab.research.google.com/github/zeerau/deeptech_ready/blob/main/Copy_of_Exploratory_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![DeepTech long logo with bg.png]()

In [157]:
# Import Libraries
import pandas as pd
import numpy as np

In [158]:
# Reading the dataset
df = pd.read_csv('/content/Nigerian_Car_Prices.csv') #Change to your file path.
df.head()

,Unnamed: 0,Make,Year of manufacture,Condition,Mileage,Engine Size,Fuel,Transmission,Price,Build
0,0,Toyota,2007.0,Nigerian Used,166418.0,2400.0,Petrol,Automatic,"3,120,000",NaN
1,1,Lexus,NaN,NaN,138024.0,NaN,NaN,Automatic,"5,834,000",NaN
2,2,Mercedes-Benz,2008.0,Nigerian Used,376807.0,3000.0,Petrol,Automatic,"3,640,000",NaN
3,3,Lexus,NaN,NaN,213362.0,NaN,NaN,Automatic,"3,594,000",NaN
4,4,Mercedes-Benz,NaN,NaN,106199.0,NaN,NaN,Automatic,"8,410,000",NaN

In [159]:
# Reading the data information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4095 entries, 0 to 4094
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           4095 non-null   int64
 1   Make                 4095 non-null   object
 2   Year of manufacture  3617 non-null   float64
 3   Condition            3616 non-null   object
 4   Mileage              4024 non-null   float64
 5   Engine Size          3584 non-null   float64
 6   Fuel                 3607 non-null   object
 7   Transmission         4075 non-null   object
 8   Price                4095 non-null   object
 9   Build                1127 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 320.1+ KB

## Missing Values

In [160]:
len(df)

4095

In [161]:
# Determine the percentage of missing value in each column
missing_percentage = df.isnull().sum() / len(df) * 100
missing_percentage

Unnamed: 0              0.000000
Make                    0.000000
Year of manufacture    11.672772
Condition              11.697192
Mileage                 1.733822
Engine Size            12.478632
Fuel                   11.916972
Transmission            0.488400
Price                   0.000000
Build                  72.478632
dtype: float64

In [162]:
# Find unique items in the Build column
df['Build'].unique()

array([nan, 'SUV'], dtype=object)

In [163]:
# Delete the column Build
df.drop(columns=['Build'], inplace=True)
df

,Unnamed: 0,Make,Year of manufacture,Condition,Mileage,Engine Size,Fuel,Transmission,Price
0,0,Toyota,2007.0,Nigerian Used,166418.0,2400.0,Petrol,Automatic,"3,120,000"
1,1,Lexus,NaN,NaN,138024.0,NaN,NaN,Automatic,"5,834,000"
2,2,Mercedes-Benz,2008.0,Nigerian Used,376807.0,3000.0,Petrol,Automatic,"3,640,000"
3,3,Lexus,NaN,NaN,213362.0,NaN,NaN,Automatic,"3,594,000"
4,4,Mercedes-Benz,NaN,NaN,106199.0,NaN,NaN,Automatic,"8,410,000"
...,...,...,...,...,...,...,...,...,...
4090,4090,Honda,2004.0,Nigerian Used,207446.0,3500.0,Petrol,Automatic,"1,125,000"
4091,4091,Toyota,2005.0,Nigerian Used,106914.0,1800.0,Petrol,Automatic,"2,643,750"
4092,4092,Honda,2006.0,Nigerian Used,247149.0,1800.0,Petrol,Automatic,"1,462,500"
4093,4093,Toyota,2007.0,Nigerian Used,249325.0,2500.0,Petrol,Automatic,"2,475,000"
4094,4094,Toyota,2013.0,Foreign Used,235184.0,2500.0,Petrol,Automatic,"6,300,000"

In [164]:
# Delete the column 'Unnamed: 0'
df.drop(columns=['Unnamed: 0'], inplace=True)
df

,Make,Year of manufacture,Condition,Mileage,Engine Size,Fuel,Transmission,Price
0,Toyota,2007.0,Nigerian Used,166418.0,2400.0,Petrol,Automatic,"3,120,000"
1,Lexus,NaN,NaN,138024.0,NaN,NaN,Automatic,"5,834,000"
2,Mercedes-Benz,2008.0,Nigerian Used,376807.0,3000.0,Petrol,Automatic,"3,640,000"
3,Lexus,NaN,NaN,213362.0,NaN,NaN,Automatic,"3,594,000"
4,Mercedes-Benz,NaN,NaN,106199.0,NaN,NaN,Automatic,"8,410,000"
...,...,...,...,...,...,...,...,...
4090,Honda,2004.0,Nigerian Used,207446.0,3500.0,Petrol,Automatic,"1,125,000"
4091,Toyota,2005.0,Nigerian Used,106914.0,1800.0,Petrol,Automatic,"2,643,750"
4092,Honda,2006.0,Nigerian Used,247149.0,1800.0,Petrol,Automatic,"1,462,500"
4093,Toyota,2007.0,Nigerian Used,249325.0,2500.0,Petrol,Automatic,"2,475,000"
4094,Toyota,2013.0,Foreign Used,235184.0,2500.0,Petrol,Automatic,"6,300,000"

In [165]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4095 entries, 0 to 4094
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Make                 4095 non-null   object
 1   Year of manufacture  3617 non-null   float64
 2   Condition            3616 non-null   object
 3   Mileage              4024 non-null   float64
 4   Engine Size          3584 non-null   float64
 5   Fuel                 3607 non-null   object
 6   Transmission         4075 non-null   object
 7   Price                4095 non-null   object
dtypes: float64(3), object(5)
memory usage: 256.1+ KB

In [166]:
# Filling the missing values of the 'Mileage' column with their mean.
df['Mileage'].fillna(df['Mileage'].mean(), inplace=True)
df

<ipython-input-166-c9d20561088d>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Mileage'].fillna(df['Mileage'].mean(), inplace=True)

,Make,Year of manufacture,Condition,Mileage,Engine Size,Fuel,Transmission,Price
0,Toyota,2007.0,Nigerian Used,166418.0,2400.0,Petrol,Automatic,"3,120,000"
1,Lexus,NaN,NaN,138024.0,NaN,NaN,Automatic,"5,834,000"
2,Mercedes-Benz,2008.0,Nigerian Used,376807.0,3000.0,Petrol,Automatic,"3,640,000"
3,Lexus,NaN,NaN,213362.0,NaN,NaN,Automatic,"3,594,000"
4,Mercedes-Benz,NaN,NaN,106199.0,NaN,NaN,Automatic,"8,410,000"
...,...,...,...,...,...,...,...,...
4090,Honda,2004.0,Nigerian Used,207446.0,3500.0,Petrol,Automatic,"1,125,000"
4091,Toyota,2005.0,Nigerian Used,106914.0,1800.0,Petrol,Automatic,"2,643,750"
4092,Honda,2006.0,Nigerian Used,247149.0,1800.0,Petrol,Automatic,"1,462,500"
4093,Toyota,2007.0,Nigerian Used,249325.0,2500.0,Petrol,Automatic,"2,475,000"
4094,Toyota,2013.0,Foreign Used,235184.0,2500.0,Petrol,Automatic,"6,300,000"

In [167]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4095 entries, 0 to 4094
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Make                 4095 non-null   object
 1   Year of manufacture  3617 non-null   float64
 2   Condition            3616 non-null   object
 3   Mileage              4095 non-null   float64
 4   Engine Size          3584 non-null   float64
 5   Fuel                 3607 non-null   object
 6   Transmission         4075 non-null   object
 7   Price                4095 non-null   object
dtypes: float64(3), object(5)
memory usage: 256.1+ KB

In [168]:
df['Condition'].unique()

array(['Nigerian Used', nan, 'Foreign Used', 'Brand New'], dtype=object)

In [169]:
df['Condition'].mode()[0]

'Nigerian Used'

In [170]:
df['Condition'].fillna(df['Condition'].mode()[0], inplace=True)
df

<ipython-input-170-6d6bc94a1363>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Condition'].fillna(df['Condition'].mode()[0], inplace=True)

,Make,Year of manufacture,Condition,Mileage,Engine Size,Fuel,Transmission,Price
0,Toyota,2007.0,Nigerian Used,166418.0,2400.0,Petrol,Automatic,"3,120,000"
1,Lexus,NaN,Nigerian Used,138024.0,NaN,NaN,Automatic,"5,834,000"
2,Mercedes-Benz,2008.0,Nigerian Used,376807.0,3000.0,Petrol,Automatic,"3,640,000"
3,Lexus,NaN,Nigerian Used,213362.0,NaN,NaN,Automatic,"3,594,000"
4,Mercedes-Benz,NaN,Nigerian Used,106199.0,NaN,NaN,Automatic,"8,410,000"
...,...,...,...,...,...,...,...,...
4090,Honda,2004.0,Nigerian Used,207446.0,3500.0,Petrol,Automatic,"1,125,000"
4091,Toyota,2005.0,Nigerian Used,106914.0,1800.0,Petrol,Automatic,"2,643,750"
4092,Honda,2006.0,Nigerian Used,247149.0,1800.0,Petrol,Automatic,"1,462,500"
4093,Toyota,2007.0,Nigerian Used,249325.0,2500.0,Petrol,Automatic,"2,475,000"
4094,Toyota,2013.0,Foreign Used,235184.0,2500.0,Petrol,Automatic,"6,300,000"

In [171]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4095 entries, 0 to 4094
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Make                 4095 non-null   object
 1   Year of manufacture  3617 non-null   float64
 2   Condition            4095 non-null   object
 3   Mileage              4095 non-null   float64
 4   Engine Size          3584 non-null   float64
 5   Fuel                 3607 non-null   object
 6   Transmission         4075 non-null   object
 7   Price                4095 non-null   object
dtypes: float64(3), object(5)
memory usage: 256.1+ KB

## Handle Duplicates

In [172]:
duplicates = df.duplicated().sum()
print(f"\nNumber of duplicate rows: {duplicates}")

Number of duplicate rows: 879

In [173]:
# Identify duplicate rows
duplicate_rows = df[df.duplicated(keep=False)]
duplicate_rows

,Make,Year of manufacture,Condition,Mileage,Engine Size,Fuel,Transmission,Price
39,Lexus,NaN,Nigerian Used,211824.0,NaN,NaN,Automatic,"3,610,000"
41,Lexus,NaN,Nigerian Used,72429.0,NaN,NaN,Automatic,"3,818,000"
44,Toyota,2014.0,Nigerian Used,216924.0,2500.0,Petrol,Automatic,"9,360,000"
48,Lexus,NaN,Nigerian Used,211824.0,NaN,NaN,Automatic,"3,610,000"
49,Lexus,NaN,Nigerian Used,72429.0,NaN,NaN,Automatic,"3,818,000"
...,...,...,...,...,...,...,...,...
4033,Changan,2020.0,Nigerian Used,17688.0,1800.0,Petrol,Automatic,"10,125,000"
4036,Lexus,2004.0,Nigerian Used,274088.0,3300.0,Petrol,Automatic,"2,812,500"
4037,Changan,2020.0,Nigerian Used,17688.0,1800.0,Petrol,Automatic,"10,125,000"
4049,Honda,2007.0,Nigerian Used,136866.0,3500.0,Petrol,Automatic,"2,250,000"
4050,Honda,2007.0,Nigerian Used,136866.0,3500.0,Petrol,Automatic,"2,250,000"

In [174]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4095 entries, 0 to 4094
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Make                 4095 non-null   object
 1   Year of manufacture  3617 non-null   float64
 2   Condition            4095 non-null   object
 3   Mileage              4095 non-null   float64
 4   Engine Size          3584 non-null   float64
 5   Fuel                 3607 non-null   object
 6   Transmission         4075 non-null   object
 7   Price                4095 non-null   object
dtypes: float64(3), object(5)
memory usage: 256.1+ KB

In [175]:
df.drop_duplicates(inplace=True)
df

,Make,Year of manufacture,Condition,Mileage,Engine Size,Fuel,Transmission,Price
0,Toyota,2007.0,Nigerian Used,166418.0,2400.0,Petrol,Automatic,"3,120,000"
1,Lexus,NaN,Nigerian Used,138024.0,NaN,NaN,Automatic,"5,834,000"
2,Mercedes-Benz,2008.0,Nigerian Used,376807.0,3000.0,Petrol,Automatic,"3,640,000"
3,Lexus,NaN,Nigerian Used,213362.0,NaN,NaN,Automatic,"3,594,000"
4,Mercedes-Benz,NaN,Nigerian Used,106199.0,NaN,NaN,Automatic,"8,410,000"
...,...,...,...,...,...,...,...,...
4090,Honda,2004.0,Nigerian Used,207446.0,3500.0,Petrol,Automatic,"1,125,000"
4091,Toyota,2005.0,Nigerian Used,106914.0,1800.0,Petrol,Automatic,"2,643,750"
4092,Honda,2006.0,Nigerian Used,247149.0,1800.0,Petrol,Automatic,"1,462,500"
4093,Toyota,2007.0,Nigerian Used,249325.0,2500.0,Petrol,Automatic,"2,475,000"
4094,Toyota,2013.0,Foreign Used,235184.0,2500.0,Petrol,Automatic,"6,300,000"

## Removing Outliers

In [176]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3216 entries, 0 to 4094
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Make                 3216 non-null   object
 1   Year of manufacture  2838 non-null   float64
 2   Condition            3216 non-null   object
 3   Mileage              3216 non-null   float64
 4   Engine Size          2810 non-null   float64
 5   Fuel                 2831 non-null   object
 6   Transmission         3200 non-null   object
 7   Price                3216 non-null   object
dtypes: float64(3), object(5)
memory usage: 226.1+ KB

In [177]:
# Define a function to calculate Z-scores and remove outliers
def remove_outliers_manual(df, column):
    # Calculate mean and standard deviation
    mean = df[column].mean()
    std_dev = df[column].std()

    # Calculate Z-scores manually
    z_scores = np.abs((df[column] - mean) / std_dev)

    # Filter the rows with Z-scores less than 3
    df_no_outliers = df[z_scores < 3]

    return df_no_outliers

In [178]:
df = remove_outliers_manual(df, 'Mileage')
df

,Make,Year of manufacture,Condition,Mileage,Engine Size,Fuel,Transmission,Price
0,Toyota,2007.0,Nigerian Used,166418.0,2400.0,Petrol,Automatic,"3,120,000"
1,Lexus,NaN,Nigerian Used,138024.0,NaN,NaN,Automatic,"5,834,000"
2,Mercedes-Benz,2008.0,Nigerian Used,376807.0,3000.0,Petrol,Automatic,"3,640,000"
3,Lexus,NaN,Nigerian Used,213362.0,NaN,NaN,Automatic,"3,594,000"
4,Mercedes-Benz,NaN,Nigerian Used,106199.0,NaN,NaN,Automatic,"8,410,000"
...,...,...,...,...,...,...,...,...
4090,Honda,2004.0,Nigerian Used,207446.0,3500.0,Petrol,Automatic,"1,125,000"
4091,Toyota,2005.0,Nigerian Used,106914.0,1800.0,Petrol,Automatic,"2,643,750"
4092,Honda,2006.0,Nigerian Used,247149.0,1800.0,Petrol,Automatic,"1,462,500"
4093,Toyota,2007.0,Nigerian Used,249325.0,2500.0,Petrol,Automatic,"2,475,000"
4094,Toyota,2013.0,Foreign Used,235184.0,2500.0,Petrol,Automatic,"6,300,000"

In [179]:
df['Make'].unique()

array(['Toyota', 'Lexus', 'Mercedes-Benz', 'Fiat', 'Land Rover', 'Foton',
       'JAC', 'Acura', 'Tata', 'Saturn', 'Porsche', 'Lincoln', 'GMC',
       'Renault', 'Mini', 'Ford', 'Buick', 'Cadillac', 'Audi', 'Infiniti',
       'Jeep', 'Peugeot', 'Dodge', 'Jaguar', 'Seat', 'Isuzu', 'Skoda',
       'Nissan', 'Hyundai', 'Pontiac', 'Hummer', 'Chevrolet', 'MG',
       'Honda', 'Chrysler', 'Kia', 'SsangYong', 'Mazda', 'Changan',
       'Mitsubishi', 'Suzuki', 'BMW', 'Rover', 'Citroen', 'Volkswagen',
       'Volvo', 'Opel', 'Bentley', 'Daihatsu'], dtype=object)

In [180]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

In [181]:
# List of categorical columns to encode
categorical_cols = ['Make', 'Condition', 'Fuel', 'Transmission']

# Apply Label Encoding to each categorical column
for col in categorical_cols:
    df[col] = label_encoder.fit_transform(df[col])

<ipython-input-181-9a0e7447540b>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = label_encoder.fit_transform(df[col])
<ipython-input-181-9a0e7447540b>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = label_encoder.fit_transform(df[col])
<ipython-input-181-9a0e7447540b>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = label_encoder.fit_transform(df[col])
<ipython-input-181-9a0e7447540b>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = label_encoder.fit_transform(df[col])

In [182]:
df

,Make,Year of manufacture,Condition,Mileage,Engine Size,Fuel,Transmission,Price
0,46,2007.0,2,166418.0,2400.0,3,1,"3,120,000"
1,26,NaN,2,138024.0,NaN,4,1,"5,834,000"
2,30,2008.0,2,376807.0,3000.0,3,1,"3,640,000"
3,26,NaN,2,213362.0,NaN,4,1,"3,594,000"
4,30,NaN,2,106199.0,NaN,4,1,"8,410,000"
...,...,...,...,...,...,...,...,...
4090,16,2004.0,2,207446.0,3500.0,3,1,"1,125,000"
4091,46,2005.0,2,106914.0,1800.0,3,1,"2,643,750"
4092,16,2006.0,2,247149.0,1800.0,3,1,"1,462,500"
4093,46,2007.0,2,249325.0,2500.0,3,1,"2,475,000"
4094,46,2013.0,1,235184.0,2500.0,3,1,"6,300,000"

## Standardization

In [183]:
df['Mileage'].min()

1.0

In [184]:
df['Mileage'].max()

818676.0

In [185]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

scaler = StandardScaler()

In [186]:
# Apply scaling to the 'Mileage' column
df.loc[:,'Mileage'] = scaler.fit_transform(df[['Mileage']])

In [187]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3202 entries, 0 to 4094
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Make                 3202 non-null   int64
 1   Year of manufacture  2825 non-null   float64
 2   Condition            3202 non-null   int64
 3   Mileage              3202 non-null   float64
 4   Engine Size          2797 non-null   float64
 5   Fuel                 3202 non-null   int64
 6   Transmission         3202 non-null   int64
 7   Price                3202 non-null   object
dtypes: float64(3), int64(4), object(1)
memory usage: 225.1+ KB

In [188]:
df['Price'].max()

'997,500'

In [189]:
df['Price'].min()

'1,006,800'

In [190]:
df['Price'] = df['Price'].str.replace(',', '', regex=False).astype(int)

<ipython-input-190-646bfb163dcc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Price'] = df['Price'].str.replace(',', '', regex=False).astype(int)

In [199]:
# Apply scaling to the 'Mileage' column
df.loc[:,'Price'] = scaler.fit_transform(df[['Price']])

In [200]:
# Convert 'Year of manufacture' to string, extract year and then to datetime
df.loc[:,'Year of manufacture'] = df['Year of manufacture'].astype(str).str.split('.').str[0]
df['Year of manufacture'] = df['Year of manufacture'].str.extract('(\d{4})') # Extract the year with regex
df.loc[:,'Year of manufacture'] = pd.to_datetime(df['Year of manufacture'],format='%Y', errors='coerce').dt.year
df['Year of manufacture'] = pd.to_datetime(df['Year of manufacture'], format='%Y')
df['Year of manufacture']

<ipython-input-200-abd735c3c0e4>:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['2007' '2007' '2008' ... '2006' '2007' '2013']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[:,'Year of manufacture'] = df['Year of manufacture'].astype(str).str.split('.').str[0]
<ipython-input-200-abd735c3c0e4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year of manufacture'] = df['Year of manufacture'].str.extract('(\d{4})') # Extract the year with regex
<ipython-input-200-abd735c3c0e4>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year of manufacture'] = pd.to_datetime(df['Year of manufacture'], format='%Y')

0      2007-01-01
1      2007-01-01
2      2008-01-01
3      2007-01-01
4      2007-01-01
          ...
4090   2004-01-01
4091   2005-01-01
4092   2006-01-01
4093   2007-01-01
4094   2013-01-01
Name: Year of manufacture, Length: 3202, dtype: datetime64[ns]

In [201]:
df['Year of manufacture'].min(skipna=True)

Timestamp('1992-01-01 00:00:00')

In [202]:
df['Year of manufacture'].max()

Timestamp('2021-01-01 00:00:00')

In [203]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3202 entries, 0 to 4094
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Make                 3202 non-null   int64
 1   Year of manufacture  3202 non-null   datetime64[ns]
 2   Condition            3202 non-null   int64
 3   Mileage              3202 non-null   float64
 4   Engine Size          2797 non-null   float64
 5   Fuel                 3202 non-null   int64
 6   Transmission         3202 non-null   int64
 7   Price                3202 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(4)
memory usage: 225.1 KB

In [204]:
df['Year of manufacture'].unique()

<DatetimeArray>
['2007-01-01 00:00:00', '2008-01-01 00:00:00', '2011-01-01 00:00:00',
 '2014-01-01 00:00:00', '2016-01-01 00:00:00', '2009-01-01 00:00:00',
 '2017-01-01 00:00:00', '2010-01-01 00:00:00', '2015-01-01 00:00:00',
 '2006-01-01 00:00:00', '2013-01-01 00:00:00', '2000-01-01 00:00:00',
 '2012-01-01 00:00:00', '2004-01-01 00:00:00', '2018-01-01 00:00:00',
 '2005-01-01 00:00:00', '2002-01-01 00:00:00', '2001-01-01 00:00:00',
 '2019-01-01 00:00:00', '2003-01-01 00:00:00', '2020-01-01 00:00:00',
 '2021-01-01 00:00:00', '1998-01-01 00:00:00', '1996-01-01 00:00:00',
 '1999-01-01 00:00:00', '1997-01-01 00:00:00', '1995-01-01 00:00:00',
 '1992-01-01 00:00:00', '1994-01-01 00:00:00']
Length: 29, dtype: datetime64[ns]

In [205]:
df['Year of manufacture'].fillna(df['Year of manufacture'].mode()[0], inplace=True)
df

<ipython-input-205-63de755f340c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year of manufacture'].fillna(df['Year of manufacture'].mode()[0], inplace=True)

,Make,Year of manufacture,Condition,Mileage,Engine Size,Fuel,Transmission,Price
0,46,2007-01-01,2,-0.090736,2400.0,3,1,-0.237544
1,26,2007-01-01,2,-0.380728,NaN,4,1,0.316786
2,30,2008-01-01,2,2.057993,3000.0,3,1,-0.131335
3,26,2007-01-01,2,0.388709,NaN,4,1,-0.140730
4,30,2007-01-01,2,-0.705761,NaN,4,1,0.842929
...,...,...,...,...,...,...,...,...
4090,16,2004-01-01,2,0.328288,3500.0,3,1,-0.645020
4091,46,2005-01-01,2,-0.698458,1800.0,3,1,-0.334817
4092,16,2006-01-01,2,0.733780,1800.0,3,1,-0.576086
4093,46,2007-01-01,2,0.756003,2500.0,3,1,-0.369284
4094,46,2013-01-01,1,0.611580,2500.0,3,1,0.411965

In [206]:
df.head()

,Make,Year of manufacture,Condition,Mileage,Engine Size,Fuel,Transmission,Price
0,46,2007-01-01,2,-0.090736,2400.0,3,1,-0.237544
1,26,2007-01-01,2,-0.380728,NaN,4,1,0.316786
2,30,2008-01-01,2,2.057993,3000.0,3,1,-0.131335
3,26,2007-01-01,2,0.388709,NaN,4,1,-0.140730
4,30,2007-01-01,2,-0.705761,NaN,4,1,0.842929